torch==2.4.1 --index-url https://download.pytorch.org/whl/cu124
torchvision==0.19.1 --index-url https://download.pytorch.org/whl/cu124
torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cu124
mlflow==2.16.2
numpy==1.26.4
opencv-python
huggingface_hub==0.25.1
-e ./ultralytics
-e ./sam2